/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
.main-header .navbar {
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 50px;
  border-radius: 0;
  position: inherit;
}
.layout-top-nav .main-header .navbar {
  margin-left: 0;
}
.main-header #navbar-search-input.form-control {
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
.main-header #navbar-search-input.form-control:focus,
.main-header #navbar-search-input.form-control:active {
  border-color: rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
}
.main-header #navbar-search-input.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.main-header #navbar-search-input.form-control:-ms-input-placeholder {
  color: #ccc;
}
.main-header #navbar-search-input.form-control::-webkit-input-placeholder {
  color: #ccc;
}
.main-header .navbar-custom-menu,
.main-header .navbar-right {
  float: right;
}
@media (max-width: 991px) {
  .main-header .navbar-custom-menu a,
  .main-header .navbar-right a {
    color: inherit;
    background: transparent;
  }
}
@media (max-width: 767px) {
  .main-header .navbar-right {
    float: none;
  }
  .navbar-collapse .main-header .navbar-right {
    margin: 7.5px -15px;
  }
  .main-header .navbar-right > li {
    color: inherit;
    border: 0;
  }
}
.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 0 20px;
  font-family: fontAwesome;
  line-height:50px;
  margin-right:10px;
}
.main-header .sidebar-toggle:before {
  content: "\f0c9";
}
.main-header .sidebar-toggle:hover {
  color: #fff;
}
.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:active {
  background: transparent;
}
.main-header .sidebar-toggle .icon-bar {
  display: none;
}
.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
  margin-right: 5px;
}
.main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}
.main-header .logo {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}
.main-header .logo .logo-lg {
  display: block;
}
.main-header .logo .logo-mini {
  display: none;
  
}
.main-header .navbar-brand {
  color: rgb(12, 12, 12);
  margin-left: 0px !important;
}
.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
}
.content-header > h1 {
  margin: 0;
  font-size: 24px;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
@media (max-width: 991px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
}
.navbar-toggle {
  color: #fff;
  border: 0;
  margin: 0;
  padding: 15px 15px;
}
@media (max-width: 991px) {
  .navbar-custom-menu .navbar-nav > li {
    float: left;
  }
  .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left;
  }
  .navbar-custom-menu .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .main-header {
    position: relative;
  }
  .main-header .logo,
  .main-header .navbar {
    width: 100%;
    float: none;
  }
  .main-header .navbar {
    margin: 0;
  }
  .main-header .navbar-custom-menu {
    float: right;
  }
}
@media (max-width: 991px) {
  .navbar-collapse.pull-left {
    float: none !important;
  }
  .navbar-collapse.pull-left + .navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
  }
}
/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar,.left-side {
 position:absolute;
 top:0;
 left:0;
 padding-top:50px;
 min-height:100%;
 width:230px;
 z-index:810;
 -webkit-transition:-webkit-transform .3s ease-in-out,width .3s ease-in-out;
 -moz-transition:-moz-transform .3s ease-in-out,width .3s ease-in-out;
 -o-transition:-o-transform .3s ease-in-out,width .3s ease-in-out;
 transition:transform .3s ease-in-out,width .3s ease-in-out
}
@media (max-width:767px) {
 .main-sidebar,.left-side {
  padding-top:100px
 }
}
@media (max-width:767px) {
 .main-sidebar,.left-side {
  -webkit-transform:translate(-230px, 0);
  -ms-transform:translate(-230px, 0);
  -o-transform:translate(-230px, 0);
  transform:translate(-230px, 0)
 }
}
@media (min-width:768px) {
 .sidebar-collapse .main-sidebar,.sidebar-collapse .left-side {
  -webkit-transform:translate(-230px, 0);
  -ms-transform:translate(-230px, 0);
  -o-transform:translate(-230px, 0);
  transform:translate(-230px, 0)
 }
}
@media (max-width:767px) {
 .sidebar-open .main-sidebar,.sidebar-open .left-side {
  -webkit-transform:translate(0, 0);
  -ms-transform:translate(0, 0);
  -o-transform:translate(0, 0);
  transform:translate(0, 0)
 }
}
.sidebar {
 padding-bottom:10px
}
.sidebar-form input:focus {
 border-color:transparent
}
.user-panel {
 position:relative;
 width:100%;
 padding:10px;
 overflow:hidden
}
.user-panel:before,.user-panel:after {
 content:" ";
 display:table
}
.user-panel:after {
 clear:both
}
.user-panel>.image>img {
 width:100%;
 max-width:45px;
 height:auto
}
.user-panel>.info {
 padding:5px 5px 5px 15px;
 line-height:1;
 position:absolute;
 left:55px
}
.user-panel>.info>p {
 font-weight:600;
 margin-bottom:9px
}
.user-panel>.info>a {
 text-decoration:none;
 padding-right:5px;
 margin-top:3px;
 font-size:11px
}
.user-panel>.info>a>.fa,.user-panel>.info>a>.ion,.user-panel>.info>a>.glyphicon {
 margin-right:3px
}
.main-sidebar .sidebar-menu {
 list-style:none;
 margin:0;
 padding:0
}
.main-sidebar .sidebar-menu>li {
 position:relative;
 margin:0;
 padding:0
}
.main-sidebar .sidebar-menu>li>a {
 padding:12px 5px 12px 15px;
 display:block
}
.main-sidebar .sidebar-menu>li>a>.fa,.main-sidebar .sidebar-menu>li>a>.glyphicon,.main-sidebar .sidebar-menu>li>a>.ion {
 width:20px
}
.main-sidebar .sidebar-menu>li .label,.main-sidebar .sidebar-menu>li .badge {
 margin-right:5px
}
.main-sidebar .sidebar-menu>li .badge {
 margin-top:3px
}
.main-sidebar .sidebar-menu li.header {
 padding:10px 25px 10px 15px;
 font-size:12px
}
.main-sidebar .sidebar-menu li>a>.fa-angle-left,.main-sidebar .sidebar-menu li>a>.pull-right-container>.fa-angle-left {
 width:auto;
 height:auto;
 padding:0;
 margin-right:10px
}
.main-sidebar .sidebar-menu li.active>a>.fa-angle-left,.main-sidebar .sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
 -webkit-transform:rotate(-90deg);
 -ms-transform:rotate(-90deg);
 -o-transform:rotate(-90deg);
 transform:rotate(-90deg)
}
.main-sidebar .sidebar-menu li.active>.treeview-menu {
 display:block
}
.main-sidebar .sidebar-menu .treeview-menu {
 display:none;
 list-style:none;
 padding:0;
 margin:0;
 padding-left:5px
}
.main-sidebar .sidebar-menu .treeview-menu .treeview-menu {
 padding-left:20px
}
.main-sidebar .sidebar-menu .treeview-menu>li {
 margin:0
}
.main-sidebar .sidebar-menu .treeview-menu>li>a {
 padding:5px 5px 5px 15px;
 display:block;
 font-size:14px
}
.main-sidebar .sidebar-menu .treeview-menu>li>a>.fa,.main-sidebar .sidebar-menu .treeview-menu>li>a>.glyphicon,.main-sidebar .sidebar-menu .treeview-menu>li>a>.ion {
 width:20px
}
.main-sidebar .sidebar-menu .treeview-menu>li>a>.pull-right-container>.fa-angle-left,.main-sidebar .sidebar-menu .treeview-menu>li>a>.pull-right-container>.fa-angle-down,.main-sidebar .sidebar-menu .treeview-menu>li>a>.fa-angle-left,.main-sidebar .sidebar-menu .treeview-menu>li>a>.fa-angle-down {
 width:auto
}
/*
 * Component: Sidebar Mini
 */
@media (min-width:768px) {
 .sidebar-mini.sidebar-collapse .content-wrapper,.sidebar-mini.sidebar-collapse .right-side,.sidebar-mini.sidebar-collapse .main-footer {
  margin-left:50px !important;
  z-index:840
 }
 .sidebar-mini.sidebar-collapse .main-sidebar {
  -webkit-transform:translate(0, 0);
  -ms-transform:translate(0, 0);
  -o-transform:translate(0, 0);
  transform:translate(0, 0);
  width:50px !important;
  z-index:850
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li {
  position:relative
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li>a {
  margin-right:0
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li>a>span {
  border-top-right-radius:4px
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li:not(.treeview)>a>span {
  border-bottom-right-radius:4px
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li>.treeview-menu {
  padding-top:5px;
  padding-bottom:5px;
  border-bottom-right-radius:4px
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li:hover>a>span:not(.pull-right),.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li:hover>.treeview-menu {
  display:block !important;
  position:absolute;
  width:180px;
  left:50px
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li:hover>a>span {
  top:0;
  margin-left:-3px;
  padding:12px 5px 12px 20px;
  background-color:inherit
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li:hover>a>.pull-right-container {
  float:right;
  width:auto!important;
  left:200px!important;
  top:10px!important
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li:hover>a>.pull-right-container>.label:not(:first-of-type) {
  display:none
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li:hover>.treeview-menu {
  top:44px;
  margin-left:0
 }
 .sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info,.sidebar-mini.sidebar-collapse .sidebar-form,.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li>a>span,.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li>.treeview-menu,.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu>li>a>.pull-right,.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu li.header {
  display:none !important;
  -webkit-transform:translateZ(0)
 }
 .sidebar-mini.sidebar-collapse .main-header .logo {
  width:50px
 }
 .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
  display:block;
  margin-left:-15px;
  margin-right:-15px;
  font-size:18px
 }
 .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
  display:none
 }
 .sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-left:50px
 }
}
.main-sidebar .sidebar-menu,.main-sidebar .user-panel,.main-sidebar .sidebar-menu>li.header {
 white-space:nowrap;
 overflow:hidden
}
.main-sidebar .sidebar-menu:hover {
 overflow:visible
}
.sidebar-form,.main-sidebar .sidebar-menu>li.header {
 overflow:hidden;
 text-overflow:clip
}
.main-sidebar .sidebar-menu li>a {
 position:relative
}
.main-sidebar .sidebar-menu li>a>.pull-right-container {
 position:absolute;
 right:10px;
 top:50%;
 margin-top:-7px
}

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
}

